<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2>Visualizar Veiculo</h2>
		
	</div>		<!-- .block_head ends -->
	
	<div class="block_content">
		<p>
      <b>Placa:</b>
      <%= @vehicle.license_plate %>
    </p>

    <p>
      <b>Marca:</b>
      <%= @vehicle.brand.name %>
    </p>

    <p>
      <b>Modelo:</b>
      <%= @vehicle.carmodel.name %>
    </p>

    <p>
      <b>Ano:</b>
      <%= @vehicle.year %>
    </p>
    
	</div>		<!-- .block_content ends -->

	<div class="bendl"></div>
	<div class="bendr"></div>

</div>		<!-- .block ends -->